@font-face
{
    font-family: roboto;
    src: url('font/Roboto-Light.ttf');
}
@font-face
{
    font-family: robotoI;
    src: url('font/Roboto-LightItalic.ttf');
}
@font-face
{
    font-family: robotoR;
    src: url('font/Roboto-Regular.ttf');
}


/* TAGS GENERAUX */
*{
	position: relative;
	margin:0px;
	padding:0px;
}
body{
		background-color: #E6E6E6;
}

/*GESTION HEADER */

#header-bg{
	z-index:101;
	postion:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:300px;
	background-color: #13161C;
	box-shadow: 0px 0px 40px black !important;
	border-bottom: 1px solid white;
}
#header{
	box-shadow: 0px 0px 40px black !important;
}
#header-txt{
	z-index:100;
	text-decoration : none;
	font-family:robotoI;
	position:relative;
	background-image: url('images/header.png');
	height:300px;
	margin:auto;
	width:1200px;
	color: #FFF;
	box-shadow: 0px 0px 40px black !important;
}
#menuBar{
	position:absolute;
	-webkit-border-top-image:url('images/sep_menu_top.png');
	-webkit-border-bottom-image:url('images/sep_menu_bottom.png');
	margin-top: 228px;
	text-align: center;
}
#title, #logo{
	display: none;
}
.itemMenuBar{
	text-decoration:none;
	margin: 20px 60px 20px 60px;
	font-size:19pt;
	text-decoration : none;
	font-family:roboto;

}
#menuBar a{
	color:#FFF;
	text-decoration:none;
}

#menuBar a:hover{
	color:#128CCC !important;
	text-shadow: 0px 4px 5px black;
}
#equipe:hover{
	color:#128CCC;
	text-shadow: 0px 4px 5px black;/* A préfixer !!*/
}
#equipeListe{
	text-align:left;
	z-index:105;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	position: absolute;
	visibility: hidden;
	padding:10px;
	height:0px;
	width:0px;
	background-color: rgba(0,0,0,0.6);

}

/* GESTION PARTIE CENTRALE INCOMPLETE */
#central{
	z-index:4;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family:roboto;
	font-weight:normal;
	postion:relative;
	margin:auto;
  	width:1200px;
  	background-color: #FFF;
  	box-shadow: 0px 0px 40px #000; 
}
.article{
	position:relative;
	margin:auto;
	width:900px;
	text-align:center;
}
#titre-article{
	font-family:robotoI;
	padding-right: 490px;

}

/* GESTION FOOTER */

#footer{
	border-top:1px solid white;
	box-shadow:0px 20px 20px rgba(0,0,0, 0.7) inset;
	position:relative;
	font-family:roboto;
	z-index:1;
	width:100%;
	font-size:15px;
	height:70px;
	background-color: #13161C;
	background: -moz-linear-gradient(top, #323b44, #0b0e12);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#323b44), to(#0b0e12));
}

#powered{
	text-align:center;
	position: relative;
	width:100%;
	padding-top: 30px;
	padding-right: auto;
	color:#828282;

}
.nom{
	color: #c2c1c2;
}

#formLogin input{
	font-family:robotoI;
	font-size:15pt;
	color:#787878;	
	background-color:#3d4752;
	padding: 10px 20px;
	width:100px;
	height:15px;
	border:1px solid #282f37;
	-moz-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-o-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#formLogin input[type='submit'],#formInscri input[type='submit']{
	font-family:robotoI;
	font-size:13pt;
	color:#d2d2d2;	
	background-color:#3d4752;
	padding: 10px 20px;
	width:200px;
	height:30px;
	border:1px solid #282f37;
	-moz-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-o-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

