@font-face
{
    font-family: roboto;
    src: url('font/Roboto-Light.ttf');
}
@font-face
{
    font-family: robotoI;
    src: url('font/Roboto-LightItalic.ttf');
}

/* TAGS GENERAUX */
*{
	position: relative;
	margin:0px;
	padding:0px;
}
input, textarea, select {
  outline: none;
}
body{
	background-color: #E6E6E6;
}
#all{
	min-height:550px;
}

/* CSS DU MODULE DE RECHERCHE */
#searchform{
	text-align:right;
	margin-right: 40px;
}

#searchform #searchinput{
	font-family:robotoI;
	font-size:15pt;
	color:#787878;	
	background-color:#eae9e9;
	padding: 10px 20px;
	width:120px;
	height:20px;
	border:1px solid #a5a5a5;
	-moz-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	-o-box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
  	box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
    -webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#searchform #searchsubmit{
 position: absolute;
 top:0px
 left:0px;
 padding: 10px 20px;
 height:41.5px;
 width:20px;
 border:1px solid #a5a5a5;
 -webkit-border-top-right-radius: 15px;
 -webkit-border-bottom-right-radius: 15px;
 -moz-border-radius-topright: 15px;
 -moz-border-radius-bottomright: 15px;
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;
 vertical-align: center;
 text-align:center;
}


#searchform img{
	width: 24px;
	margin-bottom: -5px;
	height: 24px;
	margin-left: 8px;
}
#searchradio {
	width:200px;
	margin-left: 965px;
}
#searchradio label{
	display:inline-block;
	padding:0.5em;
	padding-left:32px;
	background-position:8px center;
	background-repeat:no-repeat;	
	cursor:pointer;
}

#searchradio .selected{
	background-color:#FFF;
	background-image:url('images/icons/radio_on.png');
}

#searchradio .deselected{
	background-color:#FFF;
	background-image:url('images/icons/radio_off.png');
}


/* GESTION PARTIE CENTRALE INCOMPLETE */
#profil_apercu{
	z-index:106;
	-webkit-border-radius:6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: absolute;
	visibility: hidden;
	padding: 5px;
	height:0px;
	width:0px;
	background-color: rgba(0,0,0,0.8);
	color:white;
}

#central{
	z-index:4;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family:roboto;
	font-weight:normal;
	font-size:15pt;
	margin:auto;
  	width:1200px;
  	background-color: #FFF;
  	box-shadow: 0px 0px 40px #000; 
}
.article{
	position:relative;
	margin:auto;
	margin-top: 40px;
	width:900px;
	text-align:center;
}
.category{
	float: right;
	color:white;
	vertical-align:center;
}
#category-default{
	width:184px;
	height: 45px;
	background-image: url("images/categorie4.png");
	padding-top: 10px;
}
#category-1{
	width:184px;
	height: 45px;
	background-image: url("images/categorie1.png");
	padding-top: 10px;
}
#category-2{
	width:184px;
	height: 45px;
	background-image: url("images/categorie2.png");
	padding-top: 10px;
}
#category-3{
	width:184px;
	height: 45px;
	background-image: url("images/categorie3.png");
	padding-top: 10px;
}
.contenu-article{
	text-align:left;
	margin-left:30%;
	min-height:250px;
	max-width:50%;
	word-wrap: break-word;
}
#no-article{
	text-align:center;
}
.info_article{
	font-size:13pt;
	font-family:robotoRI;
	margin-left: 480px;
}
#article-image img{
	height:200px;
	width:200px;
	float:left;
	padding-left: 30px;
	padding-right: 30px;
}
.form_lire_la_suite{
	float:right;
	margin-top:50px;
}
.form_lire_la_suite input{
	width:80px;
	height:22px;
	border:1px solid #dfdcdc;
	-webkit-border-radius:6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color:#858585;
	background-color: #13161C;
	background: -moz-linear-gradient(top, #FFF, #cdcdcd);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#cdcdcd));

}
.form_lire_la_suite input:hover{
	cursor:  pointer;
}
#bottom-article{
	width:800px;
}
#titre-article{
	text-align:left;
	font-family:robotoI;
	padding-bottom: 40px;

}
#com{
	margin: 20px;
}
#reseau_sociaux *{
	display: block;
	float: left;
}
.button_com{
	display: block;
	float: left;
}
.form_comment{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
#comOfCom,.comOfCom{
	margin-left: 50px;
}
