body.login {
    background: none repeat scroll 0 0 #FBFBFB;
    min-width: 0;
}

body {
    background-color:#eeeeee;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    min-width: 600px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login h1{
    /* background: url("logo-login.png") no-repeat scroll center top transparent;*/


    text-align:center;
    padding-bottom: 15px;

}


#all{

}

input{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDCDC;
    box-shadow: 1px 1px 10px #CBC9C9 inset;
    padding: 5px;
    -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}

input[type='submit'] {
  border: 1px solid #AAAAAA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  width: 280px;
  margin-right: -15px;
  margin-top: 30px;
}

input:hover, input:focus{
    outline:none;
    border:1px solid #79d1ff;
    box-shadow: 0px 0px 5px #79d1ff inset,
                0px 0px 10px #79d1ff;
}

.bouton{
    float: right;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 10px;
}

#login form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0px 20px  rgba(140, 140, 140, 1);
    font-weight: normal;   
    padding: 10px 25px 10px;
}

#user_login, #user_password{
    width:230px;
}

#login {
   margin: auto;
   padding: 15%;
   width: 300px;
}

.login * {
    margin: 0;
    padding: 0;
}

.notif{
  margin: 12px 0 16px;
  padding: 15px;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF!important;
}